ul.cfmenu li {
	display: inline;
	margin-right: 1em;
}
ul.cfmenu li.addnew {
	margin-left: 1.5em;
}
ul.cfmenu li.addnew a {
	color: #e6255b;
}
div.cfdiv {
	position: relative;
	margin: 0;
	padding: 24px;
}
div.delete-link {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
}
div.delete-link input {
	border: none;
	background-color: #fff;
	color: #f11;
	cursor: pointer;
}
input.cfsave {
	font-weight: bold;
}
p.important {
	color: #eba80e;
}
span.notice {
	color: #ed2b68;
}
input#contact-form-anchor-text {
	margin-left: 1em;
	color: #333;
	background: #fff;
	border: 1px solid #eba80e;
	font-family: monospace;
}
div.fieldset {
	margin: 1.5em 0;
}
div.fieldset div.legend {
	font-weight: bolder;
	margin-bottom: 0.5em;
}
input.wide {
	width: 99%;
}
textarea {
	width: 99%;
}
label.disabled {
	color: #777;
}
p.submit {
	margin: 0 24px;
}
input.quick-button {
	background: #fff url( images/fade-butt.png ) repeat-x 0 -2px;
	margin: 3px 0;
	padding: 1px 0;
}
div#quick-panel {
	display: none;
	margin: 0 0 4px;
	padding: 4px;
	width: 99%;
}
div#quick-panel div.close {
	float: right;
	font-size: 8pt;
	font-weight: bold;
	border: 1px solid #999;
	background: #bbb;
	color: #fff;
	padding: 1px 3px;
	cursor: pointer;
}
div#quick-panel input, div#quick-panel textarea {
	background: #fff;
	width: 200px;
}
div#quick-panel input.inline-opt {
	width: 1em;
	vertical-align: middle;
}
div#quick-panel input.qp-button {
	background: #fff url( images/fade-butt.png ) repeat-x 0 -2px;
	margin: 3px 1px 2px;
	padding: 2px;
}
div#quick-panel input.required {
	border: 1px solid #777;
}
div#quick-panel table tr {
	vertical-align: top;
}
div#quick-panel table th {
	text-align: right;
	padding-left: 1em;
}
div#quick-panel table td {
	text-align: left;
}
div.tag-generator {
	position: relative;
	background: #fff;
	padding: 5px 0 5px 1px;
}
div.tg-pane {
    border: 1px solid #999;
    background: #fff;
    margin: 1ex 0 0;
    padding: 10px;
}
div.tg-pane table {
	width: 70%;
	margin: 0 0 0.7em 0;
}
div.tg-pane table caption {
	text-align: left;
	padding: 0 0 0.2em 0;
	font-weight: bolder;
	color: #777;
}
div.tg-pane table td {
	vertical-align: top;
	width: 40%;
}
div.tg-pane input.tag {
	border: 1px solid #fff;
	color: #333;
	background-color: #fff3f3;
}
div.tg-dropdown {
    position: absolute;
    top: 26px;
    z-index: 10;
    border: 1px solid #ddd;
}
span.tg-closebutton {
    color: #777;
    font: bold 16px monospace;
    padding: 1px 4px;
    cursor: pointer;
}
div.tg-panetitle {
    font: bold 132% sans-serif;
    margin: 0 0 10px;
    color: #777;
}