ul.subsubsub li.addnew {
	margin-left: 0.5em;
}
ul.subsubsub li.addnew a {
	color: #e6255b;
}

div.relative {
	position: relative;
}
div.cfdiv {
	margin: 0;
	padding: 20px;
}
div.delete-link {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
}
div.delete-link input {
	border: none;
	background-color: #fff;
	color: #e6255b;
	cursor: pointer;
}
input#wpcf7-title {
	color: #555;
	background-color: #fff;
	border: none;
	font: bold 20px serif;
}
p.tagcode {
	color: #333;
}
input#contact-form-anchor-text {
	color: #333;
	background: #fff3f3;
	border: 1px solid #fff;
	width: 96%;
}
div.fieldset {
	margin: 2em 0;
}
div.fieldset div.legend {
	font-weight: bolder;
	margin-bottom: 0.5em;
}
div.fieldset div.mail-field, div.fieldset div.message-field {
	margin: 0.3em 0;
}
span#message-fields-toggle-switch {
	margin-left: 1em;
	font-weight: normal;
	font-size: smaller;
	color: #2583ad;
	cursor: pointer;
}
input.wide {
	width: 96%;
}
textarea {
	width: 96%;
}
label.disabled {
	color: #777;
}
div.tag-generator {
	position: relative;
	background: #fff;
	padding: 5px 0 5px 1px;
}
div.tg-pane {
    border: 1px solid #999;
    background: #fff;
    margin: 1ex 28px 0 0;
    padding: 10px;
}
div.tg-pane table {
	width: 70%;
	margin: 0 0 0.7em 0;
}
div.tg-pane table caption {
	text-align: left;
	padding: 0 0 0.2em 0;
	font-weight: bolder;
	color: #777;
}
div.tg-pane table td {
	vertical-align: top;
	width: 40%;
}
div.tg-pane input.tag {
	border: 1px solid #fff;
	color: #333;
	background-color: #fff3f3;
}
div.tg-dropdown {
    position: absolute;
    top: 26px;
	left: 0;
    z-index: 10;
    border: 1px solid #ddd;
}
span.tg-closebutton {
    color: #777;
    font: bold 16px monospace;
    padding: 1px 4px;
    cursor: pointer;
}
div.tg-panetitle {
    font: bold 132% sans-serif;
    margin: 0 0 10px;
    color: #777;
}
