div.wpcf7 {
	padding: 1em 0;
}

div.wpcf7-mail-sent-ok {
	border: 1px solid #398f14;
	padding: 0.2em 1em;
}

div.wpcf7-mail-sent-ng {
	border: 1px solid #ff0000;
	padding: 0.2em 1em;
}

div.wpcf7-validation-errors {
	border: 1px solid #f7e700;
	padding: 0.2em 1em;
}

span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	background: #fff;
	border: 1px solid #ff0000;
	width: 200px;
	padding: 2px;
}

input.wpcf7-email-not-valid {
}

input.wpcf7-required-not-valid {
}

textarea.wpcf7-email-not-valid {
}

textarea.wpcf7-required-not-valid {
}