#titlediv .inside p.description {
	margin: 8px 2px 0;
}

#titlediv .inside p.description label {
	cursor: pointer;
}

span.shortcode {
	display: block;
	margin: 2px 0;
}

span.shortcode > input {
	background: inherit;
	color: inherit;
	font-size: 12px;
	border: none;
	box-shadow: none;
	padding: 4px 8px;
	margin: 0;
}

#submitpost input.copy {
	margin-bottom: 10px;
}

#submitpost input.delete {
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
	background: inherit;
	color: #a00;
}

.postbox-container .postbox h3 {
	border-bottom: 1px solid transparent;
}

/*
 * Tabs
 */
#contact-form-editor-tabs {
	border-bottom: 1px solid #aaa;
	padding: 9px 15px 0 10px;
	margin: 0;
}

#contact-form-editor-tabs li {
	display: inline-block;
	list-style: none;
	border: 1px solid #ccc;
	border-bottom: 1px solid #aaa;
	padding: 0;
	margin: 0 4px -1px;
	background-color: #e4e4e4;
}

#contact-form-editor-tabs li:hover {
	background-color: #fff;
}

#contact-form-editor-tabs li.ui-tabs-active,
#contact-form-editor-tabs li.ui-tabs-active:hover {
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #f5f5f5;
	background-color: #f5f5f5;
}

#contact-form-editor-tabs li a {
	padding: 6px 10px;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	color: #333;
	text-decoration: none;
}

#contact-form-editor-tabs li.ui-tabs-active a {
	color: #000;
	font-size: 14px;
	font-weight: bold;
}

#contact-form-editor-tabs li a:hover {
	color: #000;
}

#contact-form-editor .contact-form-editor-panel h3 {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	margin: 8px 0;
	padding: 0;
}

#contact-form-editor .contact-form-editor-panel {
	background-color: #f5f5f5;
	border: 1px solid #aaa;
	border-top: none;
	padding: 16px;
}

#contact-form-editor .form-table th {
	width: 100px;
}

/*
 * Form Panel
 */
#tag-generator-list a.button {
	font-size: 12px;
	height: 26px;
	line-height: 24px;
	margin: 2px;
	padding: 0 8px 1px;
}

.tag-generator-panel {
	position: relative;
	height: 495px;
}

.tag-generator-panel .control-box {
	padding: 10px 0;
	height: 360px;
}

.tag-generator-panel .control-box legend {
	margin: 10px 0;
	line-height: 1.6em;
	font-weight: bold;
}

.tag-generator-panel .insert-box {
	position: absolute;
	left: -15px;
	right: -15px;
	bottom: -15px;
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 8px 16px;
	background-color: #fcfcfc;
	border-top: 1px solid #dfdfdf;
}

.tag-generator-panel table {
	width: 100%;
}

.tag-generator-panel table th, .tag-generator-panel table td {
	width: 50%;
}

.tag-generator-panel .insert-box input.tag {
	width: 99%;
}

/*
 * Mail Panel
 */
.contact-form-editor-box-mail span.mailtag {
	display: inline-block;
	margin: 0 0 0 4px;
	padding: 1px 2px;
	cursor: pointer;
	color: #000;
	background-color: #fcfcfc;
}

.contact-form-editor-box-mail fieldset legend {
	width: 95%;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 10px;
}

/*
 * List Table
 */
.fixed .column-title {
	width: 38%;
}

.fixed .column-shortcode {
	width: 38%;
}

/*
 * Welcome Panel
 */
.welcome-panel p.message {
	line-height: 1.4em;
	margin-right: 25px;
}

.welcome-panel li {
	margin-bottom: 12px;
}

.welcome-panel-close {
	z-index: 2;
}
