#titlediv .inside input.shortcode,
.wp-list-table .column-shortcode input.shortcode {
	width: 100%;
	font-size: 12px;
}

#submitpost input.copy {
	margin-bottom: 10px;
}

#submitpost input.delete {
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
	background: inherit;
	color: #a00;
}

.postbox-container .postbox h3 {
	border-bottom: 1px solid #eee;
}

.postbox .form-table th {
	width: 100px;
}

/*
 * Tabs
 */
#contact-form-editor-tabs {
	border-bottom: 1px solid #aaa;
	padding: 9px 15px 0 10px;
	margin: 0 0 10px;
}

#contact-form-editor-tabs li {
	display: inline-block;
	list-style: none;
	border: 1px solid #ccc;
	border-bottom: 1px solid #aaa;
	padding: 0;
	margin: 0 4px -1px;
	background-color: #e4e4e4;
}

#contact-form-editor-tabs li:hover {
	background-color: #fff;
}

#contact-form-editor-tabs li.ui-tabs-active,
#contact-form-editor-tabs li.ui-tabs-active:hover {
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #f1f1f1;
	background-color: #f1f1f1;
}

#contact-form-editor-tabs li a {
	padding: 6px 10px;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	color: #333;
	text-decoration: none;
}

#contact-form-editor-tabs li.ui-tabs-active a {
	color: #000;
	font-size: 14px;
	font-weight: bold;
}

#contact-form-editor-tabs li a:hover {
	color: #000;
}

/*
 * List Table
 */
.fixed .column-title {
	width: 32%;
}

.fixed .column-shortcode {
	width: 50%;
}

/*
 * Welcome Panel
 */
.welcome-panel p.message {
	line-height: 1.4em;
	margin-right: 25px;
}

.welcome-panel li {
	margin-bottom: 12px;
}

.welcome-panel-close {
	z-index: 2;
}