#titlediv .inside input.shortcode {
	width: 100%;
}

#submitpost input.copy {
	margin-bottom: 10px;
}

#submitpost input.delete {
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
	background: inherit;
	color: #a00;
}

.postbox-container .postbox h3 {
	border-bottom: 1px solid #eee;
}

#messagesdiv .hide-initially {
	display: none;
}

/* welcome panel */
.welcome-panel p.message {
	line-height: 1.4em;
	margin-right: 25px;
}

.welcome-panel li {
	margin-bottom: 12px;
}

.welcome-panel-close {
	z-index: 2;
}